@import url('https://fonts.googleapis.com/css?family=Michroma');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

a {
    color: #fff;
    text-decoration: none;
}

.container-main-heading {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  padding: 16px 5px 16px 15px;
  text-align:center;
}

#main-wrapper-sn{
  overflow-x: hidden!important;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: #f1f2f7;
}

.head-sn {
  height: 50px;
  width: 100%;
  margin-bottom: 0;
  background:#0a1728;
}

.head-sn a{
  color:#0a1728;
}

.logo-sn {
  float: left;
  font-size: 21px;
  width: 220px;
  line-height: 50px;
  display: block;
  background-color: #fff;
  text-align: center;
  font-family: 'Michroma', sans-serif;
}

.nav-sn{
    margin-left: 220px;
}

.navbar-right a{
  color:#fff;
  border-right: 1px solid #fff;
}

 .navbar-right a:hover{
color:#0645AD !important}

.navbar-right a:first-child{
  color:#fff;
  border-left: 1px solid #fff;
}

text{
   font-family: 'Julius Sans One', sans-serif;
}

.left-sidebar-sec{
    background: #0a1728;
    top: 50px;
    position: absolute;
    width: 220px;
    min-height: 2000px;
    font-family: 'Julius Sans One', sans-serif;
     /*text-align: center;*/
}

.left-sidebar-sec .sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-sidebar-sec .sidebar-menu > li > a:hover{
  background-color: #f1f1f1}


.left-sidebar-sec .sidebar-menu > li > a{
  padding: 16px 5px 16px 15px;
  display: block;
  border-bottom: 1px solid #fff;
}
.left-sidebar-sec .sidebar-menu > li > a > span{
  margin-left: 3px;
}

.sec-div{
  padding: 0px;
}

.middle-sec{
 margin-left: 220px;
}

.graph-sn{
  background-color:#fff;
  margin: 0px !important;
  height: 490px;
  width: auto;
}

.notif-sn{
    margin: 0px !important;
    overflow: hidden;
    width: auto;
    height: 490px;
}
.alert{
    position: relative;
    border-radius: 2px;
    /*border: none;*/
    border-left: 6px solid #ccc!important;
    border: 1px solid #ccc;
}

.alert-danger{
    color: #588290;
    background-color:#d3e2b6;
    border-left: 6px solid red !important;
    border: 1px solid red;
}

.alert-warning{
    color: #505050;
    background-color:#aaccb1;
    border-left: 6px solid yellow !important;
    border: 1px solid yellow;
}

.alert-info{
    border-left: 6px solid green !important;
    border: 1px solid green;
}
.teammates-sn a{
    color: #505050 !important;
}
